body {
  margin: 0px;
}
p {
  margin: 0;
}
h3 {
  font-size: 22px;
  margin: 10px 0 0;
}
.app {
  font: 14px sans-serif;
}
.app .settings {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  background-color: #f5f5f5;
  position: relative;
  top: 70px;
}
.page {
  width: 80%;
  position: relative;
}
.user {
  white-space: nowrap;
  position: relative;
}
.user p {
  display: inline-block;
  margin-right: 15px;
}
.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  width: 115px;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  margin-right: 7px;
}
.btn span {
  display: block;
}
.user .btn {
  margin-right: 0;
}
.btn:hover {
  background-color: #46658a;
}
.logo {
  background-image: url(https://www.facebook.com/rsrc.php/v3/y5/r/LE2g6zI5txU.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
  height: 35px;
  left: 0;
  top: -70px;
  width: 176px;
  position: absolute;
  display: inline-block;
}
.feedback_text {
  position: absolute;
  top: -60px;
  right: 0;
  color: #888888;
  margin-right: 0 !important;
}
.feedback_text a {
  color: #888888;
}
.status_text {
  position: absolute;
  top: 150px;
  color: #424242;
}
.advanced {
  position: absolute;
  top: 80px;

}
