body {
  margin: 0px;
}
p {
  margin: 0;
}
h3 {
  font-size: 22px;
  margin: 10px 0 0;
}
.app {
  font: 14px sans-serif;
}
.app .settings {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  background-color: #f5f5f5;
  position: relative;
  top: 40px;
}
.page {
  width: 80%;
  position: relative;
}
.user {
  white-space: nowrap;
}
.user p {
  display: inline-block;
  margin-right: 15px;
}
.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  background-color: #6383a8;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}
.btn:hover {
  background-color: #46658a;
}
.feedback_text {
  position: absolute;
  top: -50px;
  color: #888888;
}
.feedback_text a {
  color: #888888;
}
.status_text {
  position: absolute;
  top: 150px;
}
