body {
  margin: 0px;
  font-family: Roboto;
}
p {
  margin: 0;
}
h3 {
  font-size: 22px;
  margin: 10px 0 0;
}
.app {
  font: 14px sans-serif;
}
.app .settings {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border-bottom: solid 3px #ececec;
  background-color: #f5f5f5;
  position: relative;
  top: 70px;
}
.page {
  width: 100%;
  position: relative;
}
.user {
  white-space: nowrap;
  position: absolute;
  right: 50px;
}
.user p {
  display: inline-block;
  margin-right: 15px;
}
.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  width: 115px;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  margin-right: 7px;
}
.btn.get_more {
  position: absolute;
  bottom: -80px;
  width: 40%;
}
.btn span {
  display: block;
}
.user .btn {
  margin-right: 0;
}
.btn:hover {
  background-color: #46658a;
}
.logo {
  background-image: url(https://www.facebook.com/rsrc.php/v3/y5/r/LE2g6zI5txU.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
  height: 35px;
  left: 0;
  top: -70px;
  width: 176px;
  position: absolute;
  display: inline-block;
}
.logo-text {
  font-family: Oleo script;
  font-size: 25px;
  position: absolute;
  top: -71px;
  left: 185px;
  color: #929292;
}
.feedback_text {
  position: absolute;
  top: -60px;
  right: 0;
  color: #d0d0d0;
  margin-right: 0 !important;
}
.feedback_text a {
  color: #d0d0d0;
  cursor: pointer;
}
.status_text {
  position: absolute;
  top: 150px;
  color: #424242;
}
.status_progressbar {
  position: absolute !important;
  left: 270px;
  top: 90px;
}
.status_progressbar.more {
  left: 47%;
  top: 60px;
}
.advanced {
  position: absolute;
  top: 80px;
}
.content_container {
  display: flex;
  position: absolute;
  top: 200px;
  width: 100%;
}
.content {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1280px;
  margin: 0 -25px 165px -25px;
}
.content_items {
  width: 293px;
  height: 293px;
  max-width: 293px;
  max-height: 293px;
  display: inline-block;
  margin: 0 10px 10px 10px;
  flex-grow: 1;
  overflow: hidden;
  background-size: 293px;
  position: relative;
}
.content_items:hover {
  cursor: pointer;
  opacity: 0.8;
}
.content_items img {
  width: 350px;
  height: 350px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: -8%;
}
.content_items.video img {
  width: 500px;
  height: 500px;
  left: -36%;
}
.content_items_source {
  width: 293px;
  height: 293px;
}

/*video-triangle-icon*/

.triangle_container {
  z-index: 1;
  opacity: 0.5;
  position: absolute;
  top: 130px;
  left: 135px;
}
.triangle,
.triangle:before,
.triangle:after {
  width:  35px;
  height: 35px;
  position: relative;
  background: white;
  border-top-right-radius: 30%;
}
.triangle:before,
.triangle:after {
  content: '';
  position: absolute;
}

.triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
.triangle {
  /* pointing right, like a play button */
  transform: rotate(30deg) skewX(-30deg) scale(1,.866);
  /* pointing left, like something whatever */
  /*transform: rotate(-30deg) skewX(-30deg) scale(1,.866);*/
}

/*video-triangle-icon*/
